html {
    font-size: 30%;
}

.info .social-medias {
    flex-direction: column;
}

#menu-items {
    display: flex;
    flex-direction: column;
}

#menu-items  .lanche-container {
    display: flex;
    flex-direction: column;
 }

#menu-items  .lanche-container img {
   max-height: 50rem;
}

#menu-items .lanche-container p {
    line-height: 5rem;
}


